.wrapper {
    margin-top: 24px;
}

.container {
    display: flex;
    gap: 8px;
}

.container span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.container span.active {
    background: var(--primary);
}

.container span:hover {
    opacity: 0.5;
}

.container span.active:hover {
    opacity: 1;
}

.visible {
    visibility: hidden;
}