.container {
    display: flex;
    flex-direction: column;
}

.container label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 24px;
}

.error {
    color: red;
    padding-bottom: 24px;
}