.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    border-bottom: 1px solid var(--light);
}

.container {
    width: 1280px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 24px;
}

.container a {
    color: var(--light);
    text-decoration: none;
}

.container a:hover,
.container span:hover {
    color: var(--primary);
    cursor: pointer;
}

a.active {
    color: var(--primary);
}