.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.errorInput {
    border-color: var(--secondary);
}

.errorInput:focus {
    border-color: red;
}

.error {
    color: red;
}