.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.errorInput {
    border-color: var(--secondary);
}

.errorInput:focus {
    border-color: red;
}

.error {
    color: red;
}

.eye {
    color: var(--primary);
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}