.scrollButton {
	position: fixed;
	top: 100px;
	right: 35px;
	color: #4580c5;
	padding-top: 1.8em;
	display: inline-block; /* or block */
	text-decoration: none;
	transition: all .3s ease-out;
	background:none;
	opacity: 0.7;
	font-size: 1.2rem;
}

.scrollButton:before {
	content: '▲';
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -.7em;
	/*border: solid .13em white;*/
	border-radius: 10em;
	width: 1.4em;
	height: 1.4em;
	line-height: 1.3em;
	transition: transform .5s ease-in;
	opacity: 1;
}

.scrollButton:hover {
	color: #ffffff;
	font-size: 1.3rem;
}

.scrollButton:hover:before {
	transform: rotate(360deg);
}
